extends layout

block content
    .container
        H1 STOCKING WITH SOCKETS
        .row
            .col-12
                div#chartContainer
        .row
            .col-8
                input#addStock(type='text')
            .col-4
                button.right#add Add!
        .row
            col-12#cardHolder
        