extends layout

block content
    .container
        H1 STOCK & BOCK
        .row
            .col-12
                div#chartContainer
        .row
            .col-9
                input#addStock(type='text')
            .col-3
                button#add Add!
        .row
            col-12#cardHolder
        